<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config="true">
	    <intercept-url pattern="/user**" access="ROLE_USER"/>
		<intercept-url pattern="/admin**" access="ROLE_ADMIN" />

		<form-login login-page="/login" default-target-url="/welcome"
			authentication-failure-url="/login?error" username-parameter="username"
			password-parameter="password" />
		<logout logout-success-url="/login?logout" delete-cookies="JSESSIONID" />
		<!-- enable csrf protection -->
		<csrf />
		<!-- Security headers -->
		<headers>
			<frame-options policy="SAMEORIGIN" />
		</headers>
		<session-management invalid-session-url="/invalid">
			<concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />
		</session-management>
	</http>

	<beans:bean id="simpleUserDetailsService"
		class="org.security.core.service.impl.SimpleUserDetailsService" />

	<beans:bean id="simpleAuthenticationProvider"
		class="org.security.core.authentication.SimpleAuthenticationProvider">
		<beans:property name="userDetailsService" ref="simpleUserDetailsService" />
	</beans:bean>

	<authentication-manager erase-credentials="true">
		<authentication-provider ref="simpleAuthenticationProvider" />
	</authentication-manager>

</beans:beans>